[Unit]
Description=A Robot Web Controller
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/python3.5 /home/pi/ROBOT/RPi-tankbot/local/server.py

[Install]
WantedBy=multi-user.target
