<!doctype html>
<style>
table, th, td {
    border: 0px solid black;
    text-align: center;
}
</style>

<style>
    body { 
    background: black no-repeat fixed center; 
    }
</style>
    <title>Tankbot Web Controller v3</title>
<html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
function start_left_cam_stream()
{
var img = document.getElementById("left_cam_stream");
img.src="http://192.168.1.16:5000/left_camera_stream";
d = new Date();
document.getElementById('console').innerHTML = 
    document.getElementById('console').innerHTML
    + d.getFullYear()
    + "-" + (d.getMonth() + 1) + "-" + d.getDay()
    + " | "
    + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds() + "." + d.getMilliseconds()
    + " | "
    + "INFO | "
    + "Starting Left Camera Stream<br \>"
return false;
}
function stop_left_cam_stream()
{
var img = document.getElementById("left_cam_stream");
img.src="";
d = new Date();
document.getElementById('console').innerHTML = 
    document.getElementById('console').innerHTML
    + d.getFullYear()
    + "-" + (d.getMonth() + 1) + "-" + d.getDay()
    + " | "
    + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds() + "." + d.getMilliseconds()
    + " | "
    + "INFO | "
    + "Stopping Left Camera Stream<br \>"
return false;
}

function toggle_readings()
{
    var transparent = 'b_transparent'
    var opaque = 'b_opaque'
    // var div_button = '#b_stop_new_div'
    var div_array = ['#b_sensor_area_div', '#b_sensor_area']
    try {
        bit = 0;
        for(var i = 0, j = div_array.length; i < j; i++) {
            if (($(div_array[i]))[0].classList.contains(transparent))
            {
                if (bit == 0) {
                    log_to_div("Toggling readings ON", "INFO")
                    log_to_div("Found", "VERBOSE")
                    bit = 1;
                }

                $(div_array[i]).addClass(opaque)
                $(div_array[i]).removeClass(transparent)
            } else {
                if (bit == 0) {
                    log_to_div("Found", "VERBOSE")
                    log_to_div("Toggling readings OFF", "INFO")
                    bit = 1;
                }
                $(div_array[i]).addClass(transparent)
                $(div_array[i]).removeClass(opaque)
            }
        }
        log_to_div("Toggle readings Attempt Complete", "VERBOSE")
    }
    catch(err){
        log_to_div("Toggle readings Attempt Failed", "ERROR")
    }

}
function toggle_movement_controls()
{
    log_to_div("Toggling Movement Controls", "INFO")
    var transparent = 'b_transparent'
    var opaque = 'b_opaque'
    // var div_button = '#b_stop_new_div'
    var div_array = ['#b_stop_new_div', '#b_forward_button_div', '#b_back_button_div', '#b_left_button_div', '#b_right_button_div',
                    '#b_stop_new', '#b_forward_button', '#b_right_button', '#b_left_button', '#b_back_button']
    try {
        for(var i = 0, j = div_array.length; i < j; i++) {
            if (($(div_array[i]))[0].classList.contains(transparent))
            {
                log_to_div("Found", "VERBOSE")
                $(div_array[i]).addClass(opaque)
                $(div_array[i]).removeClass(transparent)
            } else {
                log_to_div("Found", "VERBOSE")
                $(div_array[i]).addClass(transparent)
                $(div_array[i]).removeClass(opaque)
            }
        }
        log_to_div("Toggle readings Attempt Complete", "VERBOSE")
    }
    catch(err){
        log_to_div("Toggle readings Attempt Failed", "ERROR")
    }

}
function log_to_div(text, type){
    if (type == "VERBOSE") {
        return
    }
    d = new Date();
    document.getElementById('console').innerHTML = 
    document.getElementById('console').innerHTML
    + d.getFullYear()
    + "-" + (d.getMonth() + 1) + "-" + d.getDay()
    + " | "
    + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds() + "." + d.getMilliseconds()
    + " | "
    + type + " | "
    + text + "<br \>"
    return
}
function reload_page()
{
location.reload()
d = new Date();
document.getElementById('console').innerHTML = 
    document.getElementById('console').innerHTML
    + d.getFullYear()
    + "-" + (d.getMonth() + 1) + "-" + d.getDay()
    + " | "
    + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds() + "." + d.getMilliseconds()
    + " | "
    + "INFO | "
    + "Console Reloaded<br \>"
return false;
}
function start_right_cam_stream()
{
var img = document.getElementById("right_cam_stream");
img.src="http://192.168.1.16:5000/right_camera_stream";
d = new Date();
document.getElementById('console').innerHTML = 
    document.getElementById('console').innerHTML
    + d.getFullYear()
    + "-" + (d.getMonth() + 1) + "-" + d.getDay()
    + " | "
    + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds() + "." + d.getMilliseconds()
    + " | "
    + "INFO | "
    + "Starting Right Camera Stream<br \>"
return false;
}
function stop_right_cam_stream()
{
var img = document.getElementById("right_cam_stream");
img.src="";
d = new Date();
document.getElementById('console').innerHTML = 
    document.getElementById('console').innerHTML
    + d.getFullYear()
    + "-" + (d.getMonth() + 1) + "-" + d.getDay()
    + " | "
    + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds() + "." + d.getMilliseconds()
    + " | "
    + "INFO | "
    + "Stopping Right Camera Stream<br \>"
return false;
}

function start_disparity_map_stream()
{
var img = document.getElementById("disparity_map_stream");
img.src="http://192.168.1.16:5000/disparity_map_stream";
d = new Date();
document.getElementById('console').innerHTML = 
    document.getElementById('console').innerHTML
    + d.getFullYear()
    + "-" + (d.getMonth() + 1) + "-" + d.getDay()
    + " | "
    + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds() + "." + d.getMilliseconds()
    + " | "
    + "INFO | "
    + "Starting Disparity Map Stream<br \>"
return false;
}
function stop_disparity_map_stream()
{
var img = document.getElementById("disparity_map_stream");
img.src="";
d = new Date();
document.getElementById('console').innerHTML = 
    document.getElementById('console').innerHTML
    + d.getFullYear()
    + "-" + (d.getMonth() + 1) + "-" + d.getDay()
    + " | "
    + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds() + "." + d.getMilliseconds()
    + " | "
    + "INFO | "
    + "Stopping Disparity Map Stream<br \>"
return false;
}

</script>
<script>
$(document).ready(function(){
    $("#b_forwards").mousedown(function(){
        $.get("http://192.168.1.16:5000/forwards", function(data, status){
            console.log("forwards on!")
            console.log(data)
            d = new Date();
            document.getElementById('console').innerHTML = 
            document.getElementById('console').innerHTML
            + d.getFullYear()
            + "-" + (d.getMonth() + 1) + "-" + d.getDay()
            + " | "
            + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds() + "." + d.getMilliseconds()
            + " | "
            + "INFO | "
            + "Going Forwards<br \>"
        });
    });
});
$(document).ready(function(){
    $("#b_forwards").mouseup(function(){
        $.get("http://192.168.1.16:5000/stop", function(data, status){
            console.log("forwards off!")
        });
    });
});
$(document).ready(function(){
    $("#b_backwards").mousedown(function(){
        $.get("http://192.168.1.16:5000/backwards", function(data, status){
            console.log("backwards on!")
            console.log(data)
        });
    });
});
$(document).ready(function(){
    $("#b_backwards").mouseup(function(){
        $.get("http://192.168.1.16:5000/stop", function(data, status){
            console.log("backwards off!")
        });
    });
});
$(document).ready(function(){
    $("#b_right").mousedown(function(){
        $.get("http://192.168.1.16:5000/turn_right", function(data, status){
            console.log("turning right!")
            console.log(data)
        });
    });
});
$(document).ready(function(){
    $("#b_right").mouseup(function(){
        $.get("http://192.168.1.16:5000/stop", function(data, status){
            console.log("turning stopped!")
        });
    });
});
$(document).ready(function(){
    $("#b_left").mousedown(function(){
        $.get("http://192.168.1.16:5000/turn_left", function(data, status){
            console.log("turning left!")
            console.log(data)
        });
    });
});
$(document).ready(function(){
    $("#b_left").mouseup(function(){
        $.get("http://192.168.1.16:5000/stop", function(data, status){
            console.log("turning stopped!")
        });
    });
});
$(document).ready(function(){
    $("#b_take_stereo_photo").mousedown(function(){
        $.get("http://192.168.1.16:5000/take_stereo_photo", function(data, status){
            console.log("Taking Stero Photo")
        });
    });
});
$(document).ready(function(){
    $("#b_capture_cloud_point").mousedown(function(){
        $.get("http://192.168.1.16:5000/capture_cloud_point", function(data, status){
            console.log("Capturing 3D cloud point")
        });
    });
});
</script>
 <style>
    .b_transparent {
      visibility: hidden;
      opacity: 0;
    }
    .b_opaque {
        visibility: visible;
        opacity: 1;
    }
    .b_nav_button {
      border: none;
      /* border-radius: 300px / 400px; */
      color: white;
      padding: 0px 0px;
      text-align: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      display: inline-block;
      font-size: 24px;
      margin: 0px 0px;
      cursor: pointer;
    }
    .b_button {
      border: none;
      /* border-radius: 300px / 400px; */
      color: white;
      background-color: rgba(0, 0, 0, 0);
      padding: 0px 0px;
      text-align: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      display: inline-block;
      font-size: 24px;
      margin: 0px 0px;
      cursor: pointer;
    }
    .b_movement_button {
      border: none;
      /* border-radius: 300px / 400px; */
      color: white;
      background-color: rgba(0, 0, 0, 0);
      padding: 0px 0px;
      text-align: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      display: inline-block;
      font-size: 24px;
      margin: 0px 0px;
      cursor: pointer;
    }
    .b_stop_button {
      border: none;
      background-color: rgba(0, 0, 0, 0);
      color: white;
      padding: 0px 0px;
      text-align: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      display: inline-block;
      font-size: 36px;
      margin: 0px 0px;
      cursor: pointer;
    }
    .b_red{
        color:red;
    }
    </style>
<body>
<div class="b_button" style = "background-color:rgba(255, 0, 0, 0.685); 
    width:180px; 
    height:100px; 
    position:fixed; 
    
    top:100px; 
    left:792px; 
    z-index:4;">
    <button id="b_stop_right" class="b_button" onclick="stop_right_cam_stream();">Stop Camera Stream (R)</button>
 </div>
    <div id="b_left_button_div" class="b_movement_button" style = "background-color:burlywood; 
    width:200px; 
    height:100px; 
    position:fixed; 
    top:300px; 
    left:000px; 
    z-index:0">
    <button id="b_left_button" class="b_movement_button">Turn Left</button>
 </div>
 <div id="console" style = "background-color:grey; 
    width:590px; 
    height:172px; 
    position:fixed; 
    top:425px; 
    left:0px; 
    font: 15px monospace;
    display:flex;
    overflow:hidden;
    overflow-x: hidden;
    flex-direction: column-reverse;
    z-index:3;">
    YYYY-MM-DD | HH:MM:SS.000 | message_lvl | message<br \>
    <script>
    d = new Date();
    document.getElementById('console').innerHTML = 
    document.getElementById('console').innerHTML
    + d.getFullYear()
    + "-" + (d.getMonth() + 1) + "-" + d.getDay()
    + " | "
    + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds() + "." + d.getMilliseconds()
    + " | "
    + "INFO | "
    + "Boot up Successful<br \>"
    </script>
 </div>
 <div id="b_stop_new_div" class="b_stop_button" class="b_transparent" style="background-color:red;
    width:300px; 
    height:300px; 
    position:fixed;
    top:200px; 
    left:200px; 
    z-index:3;">
    <button id="b_stop_button" class="b_stop_button" class="b_transparent">STOP</button>
</div>
<div id="b_sensor_area_div" class="b_transparent" style="background-color:grey;
    width:450px; 
    height:450px; 
    position:fixed;
    top:50px; 
    left:50px; 
    z-index:6;">
    <iframe id="b_sensor_area" height="450" width="450" class="b_transparent" src="http://192.168.1.10:3000/d/zwiGz3NWk/ambient-air-singlestat?refresh=5s&orgId=1&from=1568561407325&to=1568583007325"></iframe>
    </div>
<div id="b_forward_button_div" class="b_movement_button" class="b_transparent" style="background-color:burlywood; 
    width:200px; 
    height:100px; 
    position:fixed; 
    top:100px; 
    left:250px; 
    z-index:3;">
    <button id="b_forward_button" class="b_movement_button" class="b_transparent"> Move Forward</button>
</div>
<div id="b_back_button_div" class="b_movement_button" style = "background-color:burlywood; 
    width:200px; 
    height:100px; 
    position:fixed; 
    top:500px; 
    left:250px; 
    z-index:3;">
    <button id="b_back_button" class="b_movement_button"> Move Backwards</button>
</div>
<div class="b_button" style = "background-color:yellowgreen; 
    width:130px; 
    height:100px; 
    position:fixed; 
    
    top:0; 
    left:658px; 
    z-index:4;">
    <button id="b_start_left" class="b_button" onclick="start_left_cam_stream();">Start Left Camera Stream</button>
</div>
<div class="b_button" style = "background-color:orangered; 
    width:130px; 
    height:100px; 
    position:fixed; 
    
    top:200px; 
    left:658px; 
    z-index:4;">
    <button id="b_hide_gui_controls" class="b_button" onclick="">Button02</button>
</div>
<div class="b_button" style = "background-color:blueviolet; 
    width:180px; 
    height:100px; 
    position:fixed; 
    
    top:400px; 
    left:792px; 
    z-index:4;">
    <button id="b_take_stereo_photo" class="b_button" onclick="take_stereo_photo();">Take Stereo Photo</button>
</div>
<div class="b_button" style = "background-color:magenta; 
    width:180px; 
    height:100px; 
    position:fixed; 
    
    top:300px; 
    left:792px; 
    z-index:4;">
    <button id="b_toggle_readings" class="b_button" onclick="toggle_movement_controls();">Toggle Movement Controls</button>
</div>
<div id="b_right_button_div" class="b_movement_button" class="b_transparent" style="background-color:burlywood;
    width:200px; 
    height:100px; 
    position:fixed;
    top:300px; 
    left:499px; 
    z-index:3;">
    <button id="b_right_button" class="b_movement_button" class="b_transparent"> Turn Right</button>
</div>
<div class="b_button" style = "background-color:yellowgreen; 
    width:180px; 
    height:100px; 
    position:fixed; 
    
    top:500px; 
    left:792px; 
    z-index:3;">
    <button id="b_take_3d_cloudpoint" class="b_button" onclick="take_3d_cloudpoint();">Take 3D Cloud Point</button>
</div>
<div class="b_button" style = "background-color:rgb(255, 17, 0); 
    width:200px; 
    height:100px; 
    position:fixed; 
    top:500px; 
    left:592px; 
    z-index:3;">
    <button id="b_reload_console" class="b_button" onclick="reload_page();">Reload Console</button>
    
</div>
<div class="b_button" style = "background-color:rgba(255, 0, 0, 0.685); 
    width:180px; 
    height:100px; 
    position:fixed;
    top:0px; 
    left:792px; 
    z-index:0;">
    <button id="b_stop_left" class="b_button" onclick="stop_left_cam_stream();">Stop Camera Stream (L)</button>
</div>
<div class="b_button" style = "background-color:blue; 
    width:180px; 
    height:100px; 
    position:fixed; 
    top:200px; 
    left:792px; 
    z-index:3;">
    <button id="b_show_gui_controls" class="b_button" onclick="toggle_readings();">Toggle Sensor Readings</button>
</div>
<div class="b_button" style = "background-color:yellowgreen; 
    width:130px; 
    height:100px; 
    position:fixed;
     
    top:100px; 
    left:658px; 
    z-index:3;">
    <button id="b_start_right" class="b_button" class="b_transparent" onclick="start_right_cam_stream();">Start Right Camera Stream</button>
</div>
<table>
    <tr>
        <td><img id="left_cam_stream" src=""></td>
        <td><img id="right_cam_stream" src=""></td>
        <td><dir style = "width:400px"></dir></td>
    </tr>
</table>
<table>
    <tr>
        <td width="100%"><img id="left_and_right_camera_stream" src=""></td>
    </tr>

</table>
</div>
</body>
</html>
